.quote-section {

  padding: 150px 40px;
  text-align: center;
  color: #333;

  h2 {
    font-family: 'Kurale', serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.33;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
  }
}
