.banner-section {
  height: 100vh;
  position: relative;
  color: #fffef2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text-wrapper {
    position: absolute;
    z-index: 1;
    top: 100px;
    max-width: 42%;
    left: 40px;
    display: flex;
    align-items: start;
    gap: 40px;
    font-family: 'Poppins', sans-serif;

    img {
      width: 120px;
      height: 40px;
    }

    div {
      h3 {
        margin-bottom: 20px;
        font-size: 0.875rem;
        line-height: 1.7;
        font-weight: 500;
      }

      h2 {
        font-size: 1.875rem;
        margin-bottom: 15px;
        font-weight: 400;
      }

      p {
        font-size: 1rem;
        line-height: 1.7;
        font-weight: 400;
        margin-bottom: 30px;
      }

      button {
        width: 70%;
        border: 1px solid #fffef2;
        color: #fffef2;
        background: transparent;
        font-size: 1rem;
        padding: 19px 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s ease-in-out;

        &:hover {
          background: #fffef2;
          color: #333333;

        }

        svg {
          font-size: 22px;
        }
      }
    }
  }
}