.section-container {
  padding-top: 150px;
  display: flex;
  width: 100%;
  column-gap: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 50px;
  flex-direction: row;



  img {
    width: 60%;
    @media only screen and (max-width: 1020px) {
      width: 100%;
      padding-left: 60px;
    }
  }
}

// second section styles
.second-section {
  flex-direction: row-reverse !important;

  .section-text-wrapper {
    padding-left: 0;
    padding-right: 30px;
    @media only screen and (max-width: 1020px) {
      padding-left: 60px;
    }
  }
  @media only screen and (max-width: 1020px) {
    flex-direction: column-reverse!important;
  }
}