.modal-top-header {
  background-color: #252525;
  padding: 12px 20px 8px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;

  @media only screen and (max-width: 1020px) {
    justify-content: space-between;
    text-align: left;
    padding: 12px 10px 8px;
  }

  button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    background: transparent;
    color: #fffef2;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      border-bottom: 1px solid #fffef2;
      transition: all 0.3s ease-in-out;
    }

    @media only screen and (max-width: 1020px) {
      text-align: left;
    }
  }

  svg {
    color: #fffef2;
    margin-left: 5px;

  }
}